%h1
  Estacions
  %small #{@stations.size} en total

%table.zebra-striped
  %thead
    %tr
      %th Estació

  %tbody
    - @stations.each do |station|
      %tr
        %td
          = link_to station.name, station
          %br
          %small= station.address